html
  head
    title Add Event
  body
    h1= message
    form(action='/added-event' method='post')
      div
        label(for='event_name') Event Name
        input(type='text' id='event_name' name='event_name')
      div
        label(for='event_loc') Event Location
        input(type='text' id='event_loc' name='event_loc')
      div
        label(for='chaperone') Chaperone
        select(name='chaperone' id='chaperone')
          each val in chaperones
            option(value=val.id) #{val.name}
      div
        label(for='event_date') Event Date
        input(type='text' id='event_date' name= 'event_date')
      div
        label(for='event_start') Event Start
        select(name='event_start' id='event_start')
          - for(var hour = 8; hour <= 24; hour++)
            option(value= hour) #{hour>12?hour-12:hour}:00#{hour>12?'pm':'am'}
            option(value= hour + .5) #{hour>12?hour-12:hour}:30#{hour>12?'pm':'am'}
      div
        label(for='event_end') Event End
        select(name='event_end' id='event_start')
          - for(var hour = 9; hour<= 24; hour++)
            option(value= hour) #{hour>12?hour-12:hour}:00#{hour>12?'pm':'am'}
            option(value= hour + .5) #{hour>12?hour-12:hour}:30#{hour>12?'pm':'am'}
      div.button
        button(type='submit') Add Event
